.fondomovil{
    background-image: url("img/FOTO3.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
}
#redes{
    padding-left: 1%;
    padding-right: 1%;
}
 li a{
    text-decoration: none;
    
}

footer{
    background-color: darkgray;
}